<div class="container">


  <!-- <div class="container register">
    <div class="row">
      <div class="col-md-3 register-left">
        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
        <h3>Welcome</h3>
        <p>You are 30 seconds away from earning your own money!</p>
        <input type="submit" name="" value="Login" /><br />
      </div>
      <div class="col-md-9 register-right">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active">
            <h3 class="register-heading">Apply as a Employee</h3>
            <form [formGroup]="registerAdminForm">
              <div class="row register-form">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="AdminName" class="form-control" placeholder="Admin Name" value="" />
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password *" value="" />
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Your Email *" value="" />
                  </div>
                  <div class="form-group">
                    <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control"
                      placeholder="Your Phone *" value="" />
                  </div>
                  <div class="form-group">
                    <select class="form-control">
                      <option class="hidden" selected disabled>Please select your Sequrity Question</option>
                      <option>What is your Birthdate?</option>
                      <option>What is Your old Phone Number</option>
                      <option>What is your Pet Name?</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Your Answer *" value="" />
                  </div>
                  <input type="submit" class="btnRegister" value="Register" />
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

  </div> -->


  <div class="main-page">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="register-waraper">
          <div class="logo-in-register">
            <img src="assets/images/my_images/hms-logo-6FC6E7E493-seeklogo.com.png" alt="logo">
          </div>
          <div class="text-center mt-4 font-weight-light">
            Already have an account? <a routerLink="/Accounts/login" class="text-primary">Login</a>
          </div>
          <div class="form mt-4">
            <form class="register-form" [formGroup]="registerAdminForm" (ngSubmit)="registerAdmin()">
              <div class="form-group">
                <div class="row my-3">
                  <div class="col-sm-6 my-2">
                    <input type="text" class="form-control form-control-lg" formControlName="AdminName"
                      placeholder="Admin Name">
                    <div *ngIf="form.AdminName.invalid && form.AdminName.touched" class="invalid-feedback d-block">
                      <div *ngIf="form.AdminName.errors.required" class="invalid-feedback d-block">Admin Name is
                        required
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 my-2">
                    <input type="number" class="form-control form-control-lg" formControlName="phoneNumber"
                      placeholder="Phone Number">
                  </div>
                  <div class="col-sm-6 my-2">
                    <input type="text" class="form-control " formControlName="Address" placeholder="Address">
                    <div *ngIf="form.Address.invalid && form.Address.touched" class="invalid-feedback d-block">
                      <div *ngIf="form.Address.errors.required" class="invalid-feedback d-block">Hospital Address is
                        required
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 my-2">
                    <input type="text" class="form-control " formControlName="HospitalName" placeholder="Hospital Name">
                    <div *ngIf="form.HospitalName.invalid && form.HospitalName.touched"
                      class="invalid-feedback d-block">
                      <div *ngIf="form.HospitalName.errors.required" class="invalid-feedback d-block">Hospital Name is
                        required
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6  my-2">
                    <input type="text" class="form-control " formControlName="userNameForLogin" placeholder="User Name">
                    <div *ngIf="form.userNameForLogin.invalid && form.userNameForLogin.touched"
                      class="invalid-feedback d-block">
                      <div *ngIf="form.userNameForLogin.errors.required" class="invalid-feedback d-block">User Name is
                        required
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 my-2">
                    <input type="password" class="form-control" formControlName="passwordForLogin"
                      placeholder="Password">
                    <div *ngIf="form.passwordForLogin.invalid && form.passwordForLogin.touched"
                      class="invalid-feedback d-block">
                      <div *ngIf="form.passwordForLogin.errors.required" class="invalid-feedback d-block">Passwrod is
                        required
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 my-2">
                    <input type="email" class="form-control" formControlName="CNIC_No" placeholder="Enter CNIC no ">
                    <div *ngIf="form.CNIC_No.invalid && form.CNIC_No.touched" class="invalid-feedback d-block">
                      <div *ngIf="form.CNIC_No.errors.required" class="invalid-feedback d-block">email is
                        required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="d-flex justify-content-end">
              <button class="custom_btn" (click)="registerAdmin()">Register </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-warning-popups *ngIf="isSucessPopupVisible" [isSuccessPopup]="true" [Message]="message"
        (closePopup)="closeNotification($event)"></app-warning-popups>
      <app-warning-popups *ngIf="isWarningPopupVisible" [isWarningPopup]="true" [Message]="message"
        (closePopup)="closeNotification($event)"></app-warning-popups>
      <app-warning-popups *ngIf="isErrorPopupVisible" [isErrorPopup]="true" [Message]="message"
        (closePopup)="closeNotification($event)"></app-warning-popups>
    </div>
  </div>
</div>