<div class="container-fluid">
    <page-title [heading]="'Def New Drug'" [icon]="'mdi mdi-account-multiple'"></page-title>
    <button class="btn blue-color focused-button text-white btn-sm" routerLink="/pharmacy/def-drug-type">def drug
        Type</button>
</div>

<div class="form">
    <form [formGroup]="formData">
        <div class="row">

            <div class="col-md-4 col-6">
                <input type="text" class="custom-form-control" formControlName="drugName" placeholder="Drug Name" />
                <div *ngIf="form.drugName.invalid && form.drugName.touched" class="invalid-feedback d-block">
                    <div *ngIf="form.drugName.errors.required" class="invalid-feedback d-block">
                        Drug Name is Req uired
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-6">
                <select class="custom-form-control" name="drugTypeId" id="drugTypeId" formControlName="drugTypeId">
                    <option value="null">Select Drug Type</option>
                    <option value="{{item._id}}" *ngFor="let item of drugTypeList">{{item.drugType}}</option>
                </select>
                <div *ngIf="form.drugTypeId.invalid && form.drugTypeId.touched" class="invalid-feedback d-block">
                    <div *ngIf="form.drugTypeId.errors.required" class="invalid-feedback d-block">
                        Drug Type is Required
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-6">
                <input type="text" class="custom-form-control" formControlName="drugCode" placeholder="Drug code" />
                <div *ngIf="form.drugCode.invalid && form.drugCode.touched" class="invalid-feedback d-block">
                    <div *ngIf="form.drugCode.errors.required" class="invalid-feedback d-block">
                        Drug code is Required
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-6">
                <input type="text" class="custom-form-control" formControlName="drugFormulae"
                    placeholder="Drug Formulae" />
                <div *ngIf="form.drugFormulae.invalid && form.drugFormulae.touched" class="invalid-feedback d-block">
                    <div *ngIf="form.drugFormulae.errors.required" class="invalid-feedback d-block">
                        Drug Formulae is Required
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-6">
                <input type="text" class="custom-form-control" formControlName="manufacturingDate"
                    placeholder="Manufacturing date" />
                <div *ngIf="form.manufacturingDate.invalid && form.manufacturingDate.touched"
                    class="invalid-feedback d-block">
                    <div *ngIf="form.manufacturingDate.errors.required" class="invalid-feedback d-block">
                        Manufacturing date is Required
                    </div>
                </div>
            </div>

            <div class="col-md-4  col-6">
                <input type="text" class="custom-form-control" formControlName="expiryDate" placeholder="Expiry Date" />
                <div *ngIf="form.expiryDate.invalid && form.expiryDate.touched" class="invalid-feedback d-block">
                    <div *ngIf="form.expiryDate.errors.required" class="invalid-feedback d-block">
                        Expiry date is Required
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-6">
                <input type="text" class="custom-form-control" formControlName="batchNo" placeholder="Batch No" />
                <div *ngIf="form.batchNo.invalid && form.batchNo.touched" class="invalid-feedback d-block">
                    <div *ngIf="form.batchNo.errors.required" class="invalid-feedback d-block">
                        Batch No is Required
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-6">
                <input type="text" class="custom-form-control" formControlName="retailPrice"
                    placeholder="Retail Price" />
                <div *ngIf="form.retailPrice.invalid && form.retailPrice.touched" class="invalid-feedback d-block">
                    <div *ngIf="form.retailPrice.errors.required" class="invalid-feedback d-block">
                        Batch No is Required
                    </div>
                </div>
            </div>

        </div>

        <div class="text-right">
            <button type="button" style="margin-top: 18px;" class="btn blue-color focused-button text-white btn-sm"
                (click)="clearForm()">
                Clear
            </button>
            <button style="margin-top: 18px;" *ngIf="updateId==null" type="submit" [disabled]="loaderOn_Save_Update"
                class="btn blue-color focused-button text-white btn-sm" (click)="handleSave_Update()">
                Save
            </button>
            <button type="submit" style="margin-top: 18px;" *ngIf="updateId!=null" [disabled]="loaderOn_Save_Update"
                class="btn blue-color focused-button text-white btn-sm" (click)="handleSave_Update()">
                Update
            </button>
        </div>
    </form>
</div>

<!-- History -->

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Recent Tickets</h4>
                <div class="table-responsive">
                    <table class="my_table">
                        <thead>
                            <tr>
                                <th>Drug Name</th>
                                <th>Drug Type</th>
                                <th>drug Code</th>
                                <th>Drug Formulae</th>
                                <th>MunaFacturing Date</th>
                                <th>Expiry Date</th>
                                <th>Batch#</th>
                                <th>retail Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let item of allDrugsHistoryList; let index = index">
                                <td>{{item.drugName}}</td>
                                <td>{{item.drugType}}</td>
                                <td>{{item.drugCode}}</td>
                                <td>{{item.drugFormulae}}</td>
                                <td>{{item.manufacturingDate}}</td>
                                <td>{{item.expiryDate}}</td>
                                <td>{{item.batchNo}}</td>
                                <td>{{item.retailPrice}}</td>
                                <td class="edit-delete-wrape">
                                    <div class="edit-icon">
                                        <i (click)="getById(item)" class="mdi mdi-grease-pencil cursor_pointer"></i>
                                    </div>
                                    <div class="delete-icon">
                                        <i class="mdi mdi-delete-forever cursor_pointer"
                                            (click)="deleteFunc(item._id)"></i>
                                    </div>
                            </tr>
                            <tr *ngIf="isLoading">
                                <td colspan="8">
                                    <app-loader></app-loader>
                                </td>
                            </tr>
                            <tr *ngIf="allDrugsHistoryList?.length>0==false && isLoading==false">
                                <td colspan="9" class="dataNotFound">
                                    No Data Found
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-body border border-danger">
                <table class="table margin_negative_10">
                    <thead class="text-danger">
                        <th>Drug Name</th>
                        <th>Drug Type</th>
                        <th>drug Code</th>
                        <th>Drug Formulae</th>
                        <th>MunaFacturing Date</th>
                        <th>Expiry Date</th>
                        <th>retail Price</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr *ngIf="isLoading">
                            <td colspan="2">
                                <app-loader></app-loader>
                            </td>
                        </tr>
                        <tr *ngIf="allDrugsHistoryList?.length>0==false">
                            <td colspan="2" class="dataNotFound">
                                No Data Found
                            </td>
                        </tr>
                        <tr *ngFor="let item of allDrugsHistoryList; let index = index">
                            <td>{{item.drugName}}</td>
                            <td>{{item.drugType}}</td>
                            <td>{{item.drugCode}}</td>
                            <td>{{item.drugFormulae}}</td>
                            <td>{{item.manufacturingDate}}</td>
                            <td>{{item.expiryDate}}</td>
                            <td>{{item.batchNo}}</td>
                            <td>{{item.retailPrice}}</td>
                            <td class="edit-delete-wrape">
                                <div class="edit-icon">
                                    <i (click)="getById(item)" class="mdi mdi-grease-pencil cursor_pointer"></i>
                                </div>
                                <div class="delete-icon">
                                    <i class="mdi mdi-delete-forever cursor_pointer" (click)="deleteFunc(item._id)"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-12">
        <app-warning-popups *ngIf="isSucessPopupVisible" [isSuccessPopup]="true" [Message]="message"
            (closePopup)="closeNotification($event)"></app-warning-popups>
        <app-warning-popups *ngIf="isWarningPopupVisible" [isWarningPopup]="true" [Message]="message"
            (closePopup)="closeNotification($event)"></app-warning-popups>
        <app-warning-popups *ngIf="isErrorPopupVisible" [isErrorPopup]="true" [Message]="message"
            (closePopup)="closeNotification($event)"></app-warning-popups>
    </div>
</div>