<div class="container-fluid">
    <page-title [heading]="'Def New Drug'" [icon]="'mdi mdi-account-multiple'"></page-title>
    <button class="btn blue-color focused-button text-white btn-sm" routerLink="/pharmacy/def-drug-type">def drug Type</button>
    <!-- <button style="margin-top: 18px;" *ngIf="updateId==null" type="submit" [disabled]="loaderOn_Save_Update"
        class="btn blue-color focused-button text-white btn-sm" (click)="Save()">
        Save
    </button> -->
</div>



<div class="row">
    <div class="col-12">
        <app-warning-popups *ngIf="isSucessPopupVisible" [isSuccessPopup]="true" [Message]="message"
            (closePopup)="closeNotification($event)"></app-warning-popups>
        <app-warning-popups *ngIf="isWarningPopupVisible" [isWarningPopup]="true" [Message]="message"
            (closePopup)="closeNotification($event)"></app-warning-popups>
        <app-warning-popups *ngIf="isErrorPopupVisible" [isErrorPopup]="true" [Message]="message"
            (closePopup)="closeNotification($event)"></app-warning-popups>
    </div>
</div>