<div class="container-fluid">
    <page-title [heading]="'Def New Medicine'" [icon]="'mdi mdi-account-multiple'"></page-title>
    <button class="btn blue-color focused-button text-white btn-sm" routerLink="/pharmacy/def-drug-type">def drug
        Type</button>
</div>

<div class="form">
    <form [formGroup]="formData">
        <div class="row">

            <div class="col-md-4 col-6">
                <div class="form_group">
                    <label for="name">Drug Name</label>
                    <input type="text" id="name" class="form_control" formControlName="drugName" placeholder="Drug Name"
                        [ngClass]="form.drugName.invalid && form.drugName.touched ? 'invalid_field' : ''" />
                    <div *ngIf="form.drugName.invalid && form.drugName.touched" class="invalid-feedback d-block">
                        <div *ngIf="form.drugName.errors.required" class="invalid-feedback d-block">
                            Drug Name is Required
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-6">
                <div class="form_group">
                    <label for="drugTypeId">Drug Type</label>
                    <select class="form_control" name="drugTypeId" id="drugTypeId" formControlName="drugTypeId"
                        [ngClass]="form.drugTypeId.invalid && form.drugTypeId.touched ? 'invalid_field' : ''">
                        <option value="null">Select Drug Type</option>
                        <option value="{{item._id}}" *ngFor="let item of drugTypeList">{{item.drugType}}</option>
                    </select>
                    <div *ngIf="form.drugTypeId.invalid && form.drugTypeId.touched" class="invalid-feedback d-block">
                        <div *ngIf="form.drugTypeId.errors.required" class="invalid-feedback d-block">
                            Drug Type is Required
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-6">

                <div class="form_group">
                    <label for="drugCode"> Drug code</label>
                    <input type="text" class="form_control" name="drugCode" formControlName="drugCode"
                        placeholder="Drug code"
                        [ngClass]="form.drugCode.invalid && form.drugCode.touched ? 'invalid_field' : ''" />
                    <div *ngIf="form.drugCode.invalid && form.drugCode.touched" class="invalid-feedback d-block">
                        <div *ngIf="form.drugCode.errors.required" class="invalid-feedback d-block">
                            Drug code is Required
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 col-6">
                <div class="form_group">
                    <label for="drugFormulae"> Drug Formulae</label>
                    <input type="text" class="form_control" name="drugFormulae" formControlName="drugFormulae"
                        placeholder="Drug Formulae"
                        [ngClass]="form.drugFormulae.invalid && form.drugFormulae.touched ? 'invalid_field' : ''" />
                    <div *ngIf="form.drugFormulae.invalid && form.drugFormulae.touched"
                        class="invalid-feedback d-block">
                        <div *ngIf="form.drugFormulae.errors.required" class="invalid-feedback d-block">
                            Drug Formulae is Required
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-6">
                <div class="form_group">
                    <label for="manufacturingDate"> Manufacturing Date</label>
                    <input type="date" class="form_control" name="manufacturingDate" formControlName="manufacturingDate"
                        placeholder="Manufacturing date"
                        [ngClass]="form.manufacturingDate.invalid && form.manufacturingDate.touched ? 'invalid_field' : ''" />
                    <div *ngIf="form.manufacturingDate.invalid && form.manufacturingDate.touched"
                        class="invalid-feedback d-block">
                        <div *ngIf="form.manufacturingDate.errors.required" class="invalid-feedback d-block">
                            Manufacturing date is Required
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4  col-6">
                <div class="form_group">
                    <label for="expiryDate">Expiry Date</label>
                    <input type="date" class="form_control" formControlName="expiryDate" placeholder="Expiry Date"
                        [ngClass]="form.expiryDate.invalid && form.expiryDate.touched ? 'invalid_field' : ''" />
                    <div *ngIf="form.expiryDate.invalid && form.expiryDate.touched" class="invalid-feedback d-block">
                        <div *ngIf="form.expiryDate.errors.required" class="invalid-feedback d-block">
                            Expiry date is Required
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-6">
                <div class="form_group">
                    <label for="batchNo">Batch no</label>
                    <input type="text" name="batchNo" class="form_control" formControlName="batchNo"
                        placeholder="Batch No"
                        [ngClass]="form.batchNo.invalid && form.batchNo.touched ? 'invalid_field' : ''" />
                    <div *ngIf="form.batchNo.invalid && form.batchNo.touched" class="invalid-feedback d-block">
                        <div *ngIf="form.batchNo.errors.required" class="invalid-feedback d-block">
                            Batch No is Required
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-6">
                <div class="form_group">
                    <label for="retailPrice">Retail Price</label>
                    <input type="text" class="form_control" formControlName="retailPrice" placeholder="Retail Price"
                        [ngClass]="form.retailPrice.invalid && form.retailPrice.touched ? 'invalid_field' : ''" />
                    <div *ngIf="form.retailPrice.invalid && form.retailPrice.touched" class="invalid-feedback d-block">
                        <div *ngIf="form.retailPrice.errors.required" class="invalid-feedback d-block">
                            Retail Price is Required
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-6">
                <div class="form_group">
                    <label for="ManufacturingPrice">Manufacturing Price</label>
                    <input type="text" id="ManufacturingPrice" class="form_control" formControlName="ManufacturingPrice"
                        placeholder="Manufacturing Price" />

                </div>
            </div>

        </div>

        <div class="text-right">
            <button type="button" style="margin-top: 18px;" *ngIf="updateId!=null" class="btn blue-color focused-button text-white btn-sm"
                (click)="clearForm()">
                Clear
            </button>
            <button style="margin-top: 18px;" *ngIf="updateId==null" type="submit" [disabled]="loaderOn_Save_Update"
                class="btn blue-color focused-button text-white btn-sm" (click)="handleSave_Update()">
                Save
            </button>
            <button type="submit" style="margin-top: 18px;" *ngIf="updateId!=null" [disabled]="loaderOn_Save_Update"
                class="btn blue-color focused-button text-white btn-sm" (click)="handleSave_Update()">
                Update
            </button>
        </div>
    </form>
</div>



<!-- History -->
<div class="search_wrape">
    <input type="text" placeholder="search" (keyup)="HandleSearchChange($event.target.value)" class="search">
</div>

<div class="canvas_view" [ngStyle]="{ 'max-height':gridHeight + 'px'}">
    <div class="no_data_found_in_canvas" *ngIf="allDrugsHistoryList?.length>0==false && isLoading==false">
        No Data Found
    </div>
    <div class="no_data_found_in_canvas" *ngIf="isLoading">
        <app-loader></app-loader>
    </div>
    <div class="custom_card"
        *ngFor="let item of allDrugsHistoryList | filterByAllProperties:searchValue; let index=index">
        <div class="header_edit_delete">
            <div class="Header">{{item.drugName}}</div>
            <div class="delete_Edit_btns edit-delete-wrape">
                <div class="edit-icon">
                    <i (click)="getById(item)" class="mdi mdi-grease-pencil cursor_pointer"></i>
                </div>
                <div class="delete-icon">
                    <i class="mdi mdi-delete-forever cursor_pointer" (click)="deleteFunc(item._id)"></i>
                </div>
            </div>
        </div>
        <div class="Card_body">
            <div class="caption_value_wrape">
                <div class="caption">Type</div>
                <div class="value">{{item.drugTypeName}}</div>
            </div>
            <div class="caption_value_wrape">
                <div class="caption">Code</div>
                <div class="value">{{item.drugCode}}</div>
            </div>
            <div class="caption_value_wrape">
                <div class="caption">Formulae</div>
                <div class="value">{{item.drugFormulae}}</div>
            </div>
            <div class="caption_value_wrape">
                <div class="caption">Batch No</div>
                <div class="value">{{item.batchNo}}</div>
            </div>
            <div class="caption_value_wrape">
                <div class="caption">Mnfr.Date</div>
                <div class="value">{{item.manufacturingDate | date:'mediumDate'}}</div>
            </div>
            <div class="caption_value_wrape">
                <div class="caption">Expr.Date</div>
                <div class="value">{{item.expiryDate | date:'mediumDate'}}</div>
            </div>
            <div class="caption_value_wrape">
                <div class="caption">Mnfr Price</div>
                <div class="value">{{item.ManufacturingPrice}}</div>
            </div>
            <div class="caption_value_wrape">
                <div class="caption">Retail Price</div>
                <div class="value">{{item.retailPrice}}</div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Recent Tickets</h4>
                <div class="table-responsive">
                    <table class="my_table">
                        <thead>
                            <tr>
                                <th>Drug Name</th>
                                <th>Drug Type</th>
                                <th>drug Code</th>
                                <th>Drug Formulae</th>
                                <th>MunaFacturing Date</th>
                                <th>Expiry Date</th>
                                <th>Batch#</th>
                                <th>retail Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let item of allDrugsHistoryList; let index = index">
                                <td>{{item.drugName}}</td>
                                <td>{{item.drugType}}</td>
                                <td>{{item.drugCode}}</td>
                                <td>{{item.drugFormulae}}</td>
                                <td>{{item.manufacturingDate}}</td>
                                <td>{{item.expiryDate}}</td>
                                <td>{{item.batchNo}}</td>
                                <td>{{item.retailPrice}}</td>
                                <td class="edit-delete-wrape">
                                    <div class="edit-icon">
                                        <i (click)="getById(item)" class="mdi mdi-grease-pencil cursor_pointer"></i>
                                    </div>
                                    <div class="delete-icon">
                                        <i class="mdi mdi-delete-forever cursor_pointer"
                                            (click)="deleteFunc(item._id)"></i>
                                    </div>
                                    <td>
                            </tr>
                            <tr *ngIf="isLoading">
                                <td colspan="8">
                                    <app-loader></app-loader>
                                </td>
                            </tr>
                            <tr *ngIf="allDrugsHistoryList?.length>0==false && isLoading==false">
                                <td colspan="9" class="dataNotFound">
                                    No Data Found
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="row">
    <div class="col-12">
        <app-warning-popups *ngIf="isSucessPopupVisible" [isSuccessPopup]="true" [Message]="message"
            (closePopup)="closeNotification($event)"></app-warning-popups>
        <app-warning-popups *ngIf="isWarningPopupVisible" [isWarningPopup]="true" [Message]="message"
            (closePopup)="closeNotification($event)"></app-warning-popups>
        <app-warning-popups *ngIf="isErrorPopupVisible" [isErrorPopup]="true" [Message]="message"
            (closePopup)="closeNotification($event)"></app-warning-popups>
    </div>
</div>