<div class="container-fluid">
    <page-title [heading]="'Define Rack'" [icon]="'mdi mdi-database'"></page-title>
    <div class="form">
        <form class="register-form" [formGroup]="formData" (ngSubmit)="handleSave_Update()">
            <div class="row">

                <div class="col-md-4 col-6">
                    <div class="form_group">
                        <label for="storeId">Store</label>
                        <select class="form_control" name="storeId" id="storeId" formControlName="storeId"
                            (change)="handleStoreChange($event.target.value)"
                            [ngClass]="{invalid_field: form.storeId.invalid && form.storeId.touched}">
                            <option value="null">Select Store</option>
                            <option value="{{item._id}}" *ngFor="let item of allStoresList">{{item.storeName}}</option>
                        </select>
                        <div *ngIf="form.storeId.invalid && form.storeId.touched" class="invalid-feedback d-block">
                            <div *ngIf="form.storeId.errors.required" class="invalid-feedback d-block">
                                Required
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-6">
                    <div class="form_group">
                        <label for="rackName">Rack Name</label>
                        <input type="text" class="form_control" name="rackName" formControlName="rackName"
                            placeholder="Rack Name"
                            [ngClass]="form.rackName.invalid && form.rackName.touched ? 'invalid_field' : ''" />
                        <div *ngIf="form.rackName.invalid && form.rackName.touched" class="invalid-feedback d-block">
                            <div *ngIf="form.rackName.errors.required" class="invalid-feedback d-block">
                                Required
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-6">
                    <div class="form_group">
                        <label for="Description">Description</label>
                        <input type="text" class="form_control" name="Description" formControlName="Description"
                            placeholder="Description" />
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button style="margin-top: 18px;" *ngIf="updateId==null" type="submit" [disabled]="loaderOn_Save_Update"
                    class="btn blue-color focused-button text-white btn-sm" (click)="handleSave_Update()">
                    Save
                </button>
                <button type="submit" style="margin-top: 18px;" *ngIf="updateId!=null" [disabled]="loaderOn_Save_Update"
                    class="btn blue-color focused-button text-white btn-sm" (click)="handleSave_Update()">
                    Update
                </button>
                <button type="submit" style="margin-top: 18px;" *ngIf="updateId!=null" [disabled]="loaderOn_Save_Update"
                    class="btn blue-color focused-button text-white btn-sm" (click)="clear()">
                    Clear
                </button>
            </div>
        </form>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body border border-danger">
                    <table class="table margin_negative_10">
                        <thead class="text-danger">
                            <th>Rack Name </th>
                            <th>Store</th>
                            <th>Description</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngIf="isLoading">
                                <td colspan="3">
                                    <app-loader></app-loader>
                                </td>
                            </tr>
                            <tr *ngIf="historyList?.length>0==false && !isLoading">
                                <td colspan="3" class="dataNotFound">
                                    No Data Found
                                </td>
                            </tr>
                            <tr *ngFor="let item of historyList; let index = index">
                                <td>{{item.rackName}}</td>
                                <td>{{item.StoreName}}</td>
                                <td>{{item.Description}}</td>
                                <td class="edit-delete-wrape">
                                    <div class="edit-icon">
                                        <i (click)="getById(item)" class="mdi mdi-grease-pencil cursor_pointer"></i>
                                    </div>
                                    <div class="delete-icon">
                                        <i class="mdi mdi-delete-forever cursor_pointer"
                                            (click)="deleteStoreName(item._id)"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-warning-popups *ngIf="isSucessPopupVisible" [isSuccessPopup]="true" [Message]="message"
                (closePopup)="closeNotification($event)"></app-warning-popups>
            <app-warning-popups *ngIf="isWarningPopupVisible" [isWarningPopup]="true" [Message]="message"
                (closePopup)="closeNotification($event)"></app-warning-popups>
            <app-warning-popups *ngIf="isErrorPopupVisible" [isErrorPopup]="true" [Message]="message"
                (closePopup)="closeNotification($event)"></app-warning-popups>
        </div>
    </div>
</div>