<div class="container-fluid">
    <page-title [heading]="'Module Rights'" [icon]="'mdi mdi-account-multiple'"></page-title>
    <div class="form">
        <form class="register-form" [formGroup]="formdata">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="custom-form-control" formControlName="drugType"
                        placeholder="Drug/Medicine Type" />
                    <div *ngIf="form.drugType.invalid && form.drugType.touched" class="invalid-feedback d-block">
                        <div *ngIf="form.drugType.errors.required" class="invalid-feedback d-block">
                            Drug Type is required
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <button style="margin-top: 18px;" *ngIf="updateId==null" type="submit"
                        [disabled]="loaderOn_Save_Update" class="btn blue-color focused-button text-white btn-sm"
                        (click)="save()">
                        Save
                    </button>
                    <button type="submit" style="margin-top: 18px;" *ngIf="updateId!=null"
                        [disabled]="loaderOn_Save_Update" class="btn blue-color focused-button text-white btn-sm"
                        (click)="update(updateId)">
                        Update
                    </button>
                    <button type="button" style="margin-top: 18px;"
                        class="btn blue-color focused-button text-white btn-sm" routerLink="/pharmacy/Add-new-medicine">
                        Go Back
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body border border-danger">
                    <table class="table margin_negative_10">
                        <thead class="text-danger">
                            <th>Drug Type</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngIf="isLoading">
                                <td colspan="2">
                                    <app-loader></app-loader>
                                </td>
                            </tr>
                            <!--  -->
                            <tr *ngIf="alldrugTypesList?.length>0==false">
                                <td colspan="2" class="dataNotFound" >
                                    No Data Found
                                </td>
                            </tr>
                            <tr *ngFor="let item of alldrugTypesList; let index = index">
                                <td>{{item.drugType}}</td>
                                <td class="edit-delete-wrape">
                                    <div class="edit-icon">
                                        <i (click)="getById(item)" class="mdi mdi-grease-pencil cursor_pointer"></i>
                                    </div>
                                    <div class="delete-icon">
                                        <i class="mdi mdi-delete-forever cursor_pointer"
                                            (click)="deleteScreen(item._id)"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-warning-popups *ngIf="isSucessPopupVisible" [isSuccessPopup]="true" [Message]="message"
                (closePopup)="closeNotification($event)"></app-warning-popups>
            <app-warning-popups *ngIf="isWarningPopupVisible" [isWarningPopup]="true" [Message]="message"
                (closePopup)="closeNotification($event)"></app-warning-popups>
            <app-warning-popups *ngIf="isErrorPopupVisible" [isErrorPopup]="true" [Message]="message"
                (closePopup)="closeNotification($event)"></app-warning-popups>
        </div>
    </div>
</div>