<page-title [heading]="'User Definitions'" [icon]="'mdi mdi-account-multiple'"></page-title>
<div class="">
  <button type="button" class="btn blue-color text-white btn-sm focused-button"
    (click)="openPopup(userDefineModalContent)">
    Add New User<i class="mdi mdi-account-plus ml-1"></i>
  </button>

  <div class="row mt-4">
    <div class="col-12">
      <div class="card">
        <!-- <div class="card-header custom-card-title">
          <h4 class="card-title">Simple Table</h4>
          <p class="card-category">Here is a subtitle for this table</p>
        </div> -->
        <div class="card-body">
          <table class="table">
            <thead class="text-danger">
              <th>Name</th>
              <th>CNIC</th>
              <th>UserName</th>
              <th>Password</th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of allUserslist; let index = index">
                <td>{{item.userName}}</td>
                <td>{{item.CNIC_No}}</td>
                <td>{{item.userNameForLogin}}</td>
                <td>{{item.passwordForLogin}}</td>
                <td><i style="cursor: pointer;" (click)="getById(item._id,userDefineModalContent)"
                    class="mdi mdi-grease-pencil"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-warning-popups *ngIf="isSucessPopupVisible" [isSuccessPopup]="true" [Message]="message"
        (closePopup)="closeNotification($event)"></app-warning-popups>
      <app-warning-popups *ngIf="isWarningPopupVisible" [isWarningPopup]="true" [Message]="message"
        (closePopup)="closeNotification($event)"></app-warning-popups>
      <app-warning-popups *ngIf="isErrorPopupVisible" [isErrorPopup]="true" [Message]="message"
        (closePopup)="closeNotification($event)"></app-warning-popups>
    </div>
   
  </div>
</div>

<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="custom-card-body">
        <ng-template #userDefineModalContent let-modal class="modal fade" id="exampleModal-2"
          aria-labelledby="userDefineModalContent">
          <div class="modal-content">
            <div class="modal-header">Define User</div>
            <div class="modal-body">
              <div class="body my-4 mx-4">
                <form class="register-form" [formGroup]="userDefineFormData" (ngSubmit)="SaveUser()">
                  <div class="row">
                    <div class="col-md-6">
                      <input type="text" class="custom-form-control" formControlName="userName" placeholder="Name " />
                      <div *ngIf="form.userName.invalid && form.userName.touched" class="invalid-feedback d-block">
                        <div *ngIf="form.userName.errors.required" class="invalid-feedback d-block">
                          name is required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="custom-form-control" formControlName="CNIC_No" placeholder="CNIC No" />
                      <div *ngIf="form.CNIC_No.invalid && form.CNIC_No.touched" class="invalid-feedback d-block">
                        <div *ngIf="form.CNIC_No.errors.required" class="invalid-feedback d-block">
                          CNIC_No is required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="custom-form-control" formControlName="userNameForLogin"
                        placeholder="User Name For login" />
                      <div *ngIf="form.userNameForLogin.invalid && form.userNameForLogin.touched"
                        class="invalid-feedback d-block">
                        <div *ngIf="form.userNameForLogin.errors.required" class="invalid-feedback d-block">
                          user Name For Login is required
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <input type="text" class="custom-form-control" formControlName="passwordForLogin"
                        placeholder="Password For Login" />
                      <div *ngIf="form.passwordForLogin.invalid && form.passwordForLogin.touched"
                        class="invalid-feedback d-block">
                        <div *ngIf="form.passwordForLogin.errors.required" class="invalid-feedback d-block">
                          Password For Login is required
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn blue-color focused-button text-white btn-sm" (click)="SaveUser()">
                {{idforupdate!=undefined&&idforupdate!=null?'Update':'save'}}
              </button>
              <button type="button" class="btn custom-red-color focused-button text-white btn-sm"
                (click)="modal.close()">
                Close
              </button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>