<div class="container-fluid py-2">
    <button class="custom_btn" routerLink="/pharmacy/add-item-in-store-form">Add New</button>

    <!-- History -->
    <div class="search_wrape mt-3">
        <input type="text" placeholder="search" (keyup)="HandleSearchChange($event.target.value)" class="search">
    </div>
    <div class="canvas_view" [ngClass]="{for_no_data:storeRecordList?.length>0==false}"
        [ngStyle]="{ 'max-height':gridHeight + 'px'}">
        <div class="no_data_found_in_canvas" *ngIf="storeRecordList?.length>0==false && isLoading==false">
            No Data Found
        </div>
        <div class="no_data_found_in_canvas" *ngIf="isLoading&&storeRecordList?.length>0==false">
            <app-loader></app-loader>
        </div>
        <div class="custom_card"
            *ngFor="let item of  storeRecordList| filterByAllProperties:searchValue; let index=index">
            <div class="header_edit_delete">
                <div class="Header">{{item?.medicineId?.drugName}}</div>
                <div class="Header">{{item?.storeId?.storeName}}</div>
                <div class="delete_Edit_btns edit-delete-wrape">
                    <div class="edit-icon">
                        <i (click)="getById(item)" class="mdi mdi-grease-pencil cursor_pointer"></i>
                    </div>
                    <div class="delete-icon">
                        <i class="mdi mdi-delete-forever cursor_pointer" (click)="deleteStore(item._id)"></i>
                    </div>
                </div>
            </div>
            <div class="Card_body">
                <div class="caption_value_wrape">
                    <div class="caption">Rack</div>
                    <div class="value">{{item.rackId.rackName}}</div>
                </div>
                <div class="caption_value_wrape">
                    <div class="caption">Category</div>
                    <div class="value">{{item.medicineType.drugType}}</div>
                </div>
                <div class="caption_value_wrape">
                    <div class="caption">Qty</div>
                    <div class="value">{{item.qty}}</div>
                </div>
                <div class="caption_value_wrape">
                    <div class="caption">size</div>
                    <div class="value">{{item.size}}</div>
                </div>

            </div>
        </div>
    </div>
</div>