<div class="container-fluid main-page">
  <div class="box-form">
    <div class="left">
      <div class="overlay">
        <h1>Hospital Management System.</h1>
        <p>
          Our Hospital management systems allows You the ability to optimize and digitize all the processes within the
          Hospital, which will help to improve customer service, reduce process costs, streamline the search of
          medical records, bills, patients, doctors, etc.; thus, having a database of each module implemented
        </p>

      </div>
    </div>

    <div class="right">
      <h5 class="Login-text">Login</h5>
      <form [formGroup]="loginForm">
        <div class="inputs">
          <input type="text" formControlName="userName" placeholder="username" />
          <div *ngIf="form.userName.invalid && form.userName.touched" class="invalid-feedback d-block">
            <div *ngIf="form.userName.errors.required" class="invalid-feedback d-block">User Name is required
            </div>
          </div>
          <input type="password" formControlName="pasword" placeholder="password" />
          <div *ngIf="form.pasword.invalid && form.pasword.touched" class="invalid-feedback d-block">
            <div *ngIf="form.pasword.errors.required" class="invalid-feedback d-block">Password is required
            </div>
          </div>
        </div>
      </form>
      <div class="remember-me--forget-password mt-2">
        <p>forget password?</p>
      </div>
      <button (click)="submit()">Login </button>
      <div class="new-here mt-4">
        New Here?<a routerLink="/Accounts/register">
          register Yourself
        </a>
      </div>
    </div>
  </div>
</div>



<!-- <div class="d-flex align-items-center auth px-0">
  <div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="brand-logo">
          <img src="assets/images/logo.svg" alt="logo">
        </div>
        <h4>Hello! let's get started</h4>
        <h6 class="font-weight-light">Sign in to continue.</h6>
        <form [formGroup]="loginForm" class="pt-3">
          <div class="form-group">
            <input type="email" formControlName="userName" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" formControlName="pasword" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="mt-3">
            <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" (click)="submit()">SIGN IN</a>
          </div>
          <div class="my-2 d-flex justify-content-between align-items-center">
            <div class="form-check">
              <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input">
                <i class="input-helper"></i>
                Keep me signed in
              </label>
            </div>
            <a href="javascript:(void)" class="auth-link text-black">Forgot password?</a>
          </div>
          <div class="mb-2">
            <button type="button" class="btn btn-block btn-facebook auth-form-btn">
              <i class="mdi mdi-facebook mr-2"></i>Connect using facebook
            </button>
          </div>
          <div class="text-center mt-4 font-weight-light">
            Don't have an account? <a routerLink="/register" class="text-primary">Create</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>   -->