.main-page {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // padding: 38px;
  height: 90vh;
}

.box-form {
  margin: 15px auto;
  width: 75%;
  background: #ffffff;
  border-radius: 10px;
  overflow-x: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
  justify-content: center;
  box-shadow: 0 0 20px 6px #090b6f85;
  overflow-y: auto;
}

@media (max-width: 800px) {
  .box-form {
    width: 100%;
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}
.box-form div {
  height: auto;
}
.box-form .left {
  color: #ffffff;
  width: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./../../../assets/images/my_images/login-bg-2.jpg");
  overflow: hidden;
  @media (max-width: 800px) {
    width: 100%;
  }
}
.box-form .left .overlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  background: #2830cc87;
  overflow: hidden;
  box-sizing: border-box;
}
.box-form .left .overlay .side-heading {
  font-size: 4vmax;
  // font-size: 10vmax;
  line-height: 1;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 20px;
}
.box-form .left .overlay span p {
  margin-top: 30px;
  font-weight: 900;
}
.box-form .left .overlay span a {
  background: #3b5998;
  color: #ffffff;
  margin-top: 10px;
  padding: 14px 50px;
  border-radius: 100px;
  display: inline-block;
  box-shadow: 0 3px 6px 1px #042d4657;
}
.box-form .left .overlay span a:last-child {
  background: #1dcaff;
  margin-left: 30px;
}
.box-form .right {
  padding: 40px;
  width: 40%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 800px) {
  .box-form .right {
    width: 100%;
  }
}
.box-form .right h5 {
  font-size: 4vmax;
  line-height: 0;
}
.box-form .right p {
  font-size: 14px;
  color: #b0b3b9;
}
.box-form .right .inputs {
  overflow: hidden;
}
.box-form .right input {
  width: 100%;
  padding: 7px;
  margin-top: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #b0b3b9;
}
.box-form .right .remember-me--forget-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-form .right .remember-me--forget-password input {
  margin: 0;
  margin-right: 7px;
  width: auto;
}
.box-form .right button {
  color: #fff;
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 5px;
  display: inline-block;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 20px 0px #0f3a99a6;
  background-color: rgb(63, 63, 143);;
  transition-duration: 0.3s;
  &:hover,&:focus{
    background-color: White;
    border: 1px solid rgb(63, 63, 143);;
    color: rgb(63, 63, 143);;
    font-weight: 600;
  }
}

label {
  display: block;
  position: relative;
  margin-left: 30px;
}

label::before {
  content: " \f00c";
  position: absolute;
  font-family: FontAwesome;
  background: transparent;
  border: 3px solid #70f570;
  border-radius: 4px;
  color: transparent;
  left: -30px;
  transition: all 0.2s linear;
}

label:hover::before {
  font-family: FontAwesome;
  content: " \f00c";
  color: #fff;
  cursor: pointer;
  background: #70f570;
}

label:hover::before .text-checkbox {
  background: #70f570;
}

label span.text-checkbox {
  display: inline-block;
  height: auto;
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear;
}

label input[type="checkbox"] {
  display: none;
}

.Login-text {
  padding-bottom: 50px;
}

.Login-description{
  @media (max-width: 800px) {
    display: none;
  } 
}

.main-page{
  @media (max-width: 800px) {
    .side-heading{
      font-size: 18px;
      padding: 0;
      margin: 0;
    }
    .Login-description{
      display: none;
    }

    .right{
      padding-top:50px;
      .Login-text{
        font-size: 30px;
        font-weight: 600;
      }
    }
    .login-form{
      padding: 0px;
      margin-top: -20px;
      // border: 2px solid;
    }
  }
}

.error-message{
  color: rgb(140, 5, 5);
  padding: 0;
  margin: 0;
  margin-top: -34px;
  margin-bottom: -25px;
  font-size: 11px;

}