<!-- <div class="container-fluid main-page " [ngStyle]="{height:gridHeight+'px' }">
  <div class="box-form">
    <div class="left">
      <div class="overlay">
        <h3 class="side-heading">Hospital Management System.</h3>
        <p class="Login-description">
          Our Hospital management systems allows You the ability to optimize and digitize all the processes within the
          Hospital, which will help to improve customer service, reduce process costs, streamline the search of
          medical records, bills, patients, doctors, etc.; thus, having a database of each module implemented
        </p>

      </div>
    </div>

    <div class="right">
      <h5 class="Login-text">Login</h5>
      <div class="alert alert-danger error-message" role="alert" *ngIf="isMatched==false">
        UserName or Password is wrong
      </div>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="inputs">
          <input type="text" formControlName="userName" placeholder="username" />
          <div *ngIf="form.userName.invalid && form.userName.touched" class="invalid-feedback d-block">
            <div *ngIf="form.userName.errors.required" class="invalid-feedback d-block">User Name is required
            </div>
          </div>
          <input type="password" formControlName="pasword" placeholder="password" />
          <div *ngIf="form.pasword.invalid && form.pasword.touched" class="invalid-feedback d-block">
            <div *ngIf="form.pasword.errors.required" class="invalid-feedback d-block">Password is required
            </div>
          </div>
        </div>
      </form>
      <div class="remember-me--forget-password mt-2">
        <p>forget password?</p>
      </div>
      <button (click)="submit()">Login </button>
      <div class="new-here mt-4">
        New Here?<a routerLink="/Accounts/register">
          register Yourself
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-warning-popups *ngIf="isSucessPopupVisible" [isSuccessPopup]="true" [Message]="message"
        (closePopup)="closeNotification($event)"></app-warning-popups>
      <app-warning-popups *ngIf="isWarningPopupVisible" [isWarningPopup]="true" [Message]="message"
        (closePopup)="closeNotification($event)"></app-warning-popups>
      <app-warning-popups *ngIf="isErrorPopupVisible" [isErrorPopup]="true" [Message]="message"
        (closePopup)="closeNotification($event)"></app-warning-popups>
    </div>
  </div>

</div> -->

<div class="login_page" [ngStyle]="{height:innerHeight+'px' }">
  <div class="login_wrape">
    <div class="login_header">
      <h5>Login</h5>
    </div>
    <div class="login_body">
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="inputs">
          <input type="text" formControlName="userName" placeholder="username" />
          <div *ngIf="form.userName.invalid && form.userName.touched" class="invalid-feedback d-block">
            <div *ngIf="form.userName.errors.required" class="invalid-feedback d-block">User Name is required
            </div>
          </div>
          <input type="password" formControlName="pasword" placeholder="password" />
          <div *ngIf="form.pasword.invalid && form.pasword.touched" class="invalid-feedback d-block">
            <div *ngIf="form.pasword.errors.required" class="invalid-feedback d-block">Password is required
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="login_footer">Register</div>
  </div>
</div>